<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLDependencyGraph.Properties.Settings.DestSQLDatabaseConnectionString"
            connectionString="Data Source=.;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>